@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

:root {
    --clr-dark: #1F2937;
    --clr-grey: #E5E7EB;
    --clr-blue-dark: #00245e;
    --clr-blue: #3882F6;
    --clr-light: #F9FAF8;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  
body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid var(--clr-blue);
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: var(--clr-dark);
}

.nav {
    padding: 0.5rem 0;
}

.logo {
    max-width: 180px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-light);
}

.hero {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 8rem 0;
    border: 2px solid red;
}

.hero-img {
    width: 52%;
    border: 2px solid greenyellow;
}

.hero--left {
    width: 43%;
}

.hero__title {
    font-size: 4rem;
    font-weight: var(--fw-black);
    line-height: 1;

    margin-bottom: 0.9rem;
}

.hero__desc{
    color: var(--clr-grey);
    font-size: 1.125rem;
    line-height: 1.25;

    margin-bottom: 3rem;
}

.box--info {
    padding: 3rem 0 5rem;
}
.box__title {
    text-align: center;
    color: var(--clr-dark);
    font-size: 2.25rem;
    font-weight: var(--fw-black);

    margin-bottom: 3rem;
}

.infos {
    width: 85%;
    margin: 0 auto;
}

.info {
    max-width: 200px;
    text-align: center;
}
.icon {
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1rem;
    fill: var(--clr-blue-dark);
}

.info__desc {
    color: var(--clr-dark);
}

.box--quote {
    background-color: var(--clr-grey);
    padding: 6rem 0;
}

.quote {
    font-size: 2.25rem;
    font-weight: 300;
    font-style: italic;
    color: var(--clr-dark);
    line-height: 1.1;

    width: 85%;
    margin: 0 auto;
    border: 2px solid salmon;

}

.author {
    display: block;
    text-align: end;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

.box--cta {
    padding: 5rem 0;
}

.cta__content {
    background-color: var(--clr-blue);
    color: var(--clr-light);
    border-radius: 0.3rem;
    padding: 2rem 7rem;
}

.cta__title {
    font-size: 1.5rem;
    color: var(--clr-light);
}

.cta__desc {
    color: var(--clr-grey);
    font-size: 1.125rem;
}

.footer {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 2rem 0;
    text-align: center;
}

.github-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-blue);
}